// GT Maru - Regular
@font-face {
  font-family: "GT Maru";
  src: url("../../assets/fonts/GTMaruRegular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

// GT Maru - Regular Oblique
@font-face {
  font-family: "GT Maru";
  src: url("../../assets/fonts/GTMaruRegularOblique.ttf") format("truetype");
  font-weight: 400;
  font-style: oblique;
}

// GT Maru - Medium
@font-face {
  font-family: "GT Maru";
  src: url("../../assets/fonts/GTMaruMedium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

// GT Maru - Medium Oblique
@font-face {
  font-family: "GT Maru";
  src: url("../../assets/fonts/GTMaruMediumOblique.ttf") format("truetype");
  font-weight: 500;
  font-style: oblique;
}

// GT Maru - Bold
@font-face {
  font-family: "GT Maru";
  src: url("../../assets/fonts/GTMaruBold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

// GT Maru - Bold Oblique
@font-face {
  font-family: "GT Maru";
  src: url("../../assets/fonts/GTMaruBoldOblique.ttf") format("truetype");
  font-weight: 700;
  font-style: oblique;
}

// GT Maru - Black
@font-face {
  font-family: "GT Maru";
  src: url("../../assets/fonts/GTMaruBlack.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

// GT Maru - Black Oblique
@font-face {
  font-family: "GT Maru";
  src: url("../../assets/fonts/GTMaruBlackOblique.ttf") format("truetype");
  font-weight: 900;
  font-style: oblique;
}

// GT Maru - Light
@font-face {
  font-family: "GT Maru";
  src: url("../../assets/fonts/GTMaruLight.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

// GT Maru - Light Oblique
@font-face {
  font-family: "GT Maru";
  src: url("../../assets/fonts/GTMaruLightOblique.ttf") format("truetype");
  font-weight: 300;
  font-style: oblique;
}
