@use "./variables" as *;
@use "./mixins" as *;

header {
  margin: 0 auto;
  max-width: $max-width-wrap;

  .width-wrap {
    width: 100%;
    padding: 0 $section-inline;
    position: fixed;
    display: flex;
    justify-content: space-between;
    z-index: $z-index-top;
    pointer-events: none;
    * {
      pointer-events: visible;
    }

    .logo {
      display: flex;
      align-items: center;
      justify-content: center;
      color: $orange;
      font-weight: 900;
      @include fontSize(h6);

      img {
        width: $spacing-64;
        margin-right: $spacing-8;
      }
    }

    .head-nav {
      display: none;
      position: fixed;
      top: $spacing-64 * 1.2;
      right: $section-inline;

      ul {
        height: 100%;
        display: flex;
        flex-direction: column;
        gap: $spacing-4;

        @include desktop() {
          padding: 0 $spacing-16;
          flex-direction: row;
          flex-wrap: wrap;
          align-items: center;
          justify-content: center;
          gap: $spacing-24;
        }

        li {
          visibility: hidden;
          opacity: 0;
          height: 100%;

          a {
            padding: $spacing-16;
            padding-bottom: $spacing-8;
            height: 100%;
            display: flex;
            align-items: center;
            font-weight: 900;
            background-color: $peach;
            color: $brown;
            border-radius: $border-xlarge;
            border: $border-medium solid $brown;
            @include fontSize(tag);

            span {
              display: block;
              transform: translateY(16%);
              @include desktop() {
                transform: none;
              }
            }

            @include desktop() {
              @include fontSize(tiny);
              border: none;
              border-radius: 0;
              padding: 0;
              background-color: transparent;
            }

            @include desktop-large() {
              @include fontSize(tag);
            }
          }

          &.reserve-nav-link {
            @include tablet() {
              display: none;
            }
          }

          @include desktop() {
            visibility: visible;
            opacity: 1;
          }
        }
      }

      @include tablet() {
        display: block;
      }

      @include desktop() {
        position: static;
      }

      &.show {
        display: block;

        // ! Fade In Transform Animation
        li {
          visibility: visible;
          opacity: 1;
        }
      }
    }

    .head-opts {
      display: flex;
      align-items: center;
      gap: $spacing-16;

      li {
        height: 100%;

        a,
        button {
          padding: $spacing-16;
          width: 100%;
          height: 100%;
          display: grid;
          place-items: center;
          position: relative;
          color: $peach;
          font-weight: 900;
          @include fontSize(tag);
          transform: translateY(16%);
          transition: transform 0.2s $bounce;

          &:hover {
            transform: translateY(32%);
          }

          &::before {
            content: "";
            position: absolute;
            width: 100%;
            height: $spacing-64 * 1.5;
            z-index: $z-index-maxbot;
            transform: translateY(-32%);
            background-color: $orange;
            border-radius: 0 0 $border-xxlarge $border-xxlarge;
          }
        }

        button {
          color: $brown;
          &::before {
            border: $border-medium solid $brown;
            background-color: transparent;
          }
        }

        &:first-child {
          display: none;
          @include tablet() {
            display: block;
          }
        }

        &:last-child {
          @include desktop() {
            display: none;
          }
        }
      }
    }
  }
}
