@use "./partials/variables" as *;
@use "./partials/mixins" as *;

@include widthWrap();

.hero {
  color: $brown;
  .width-wrap {
    min-height: 102vh;
    display: flex;
    align-items: end;
    position: relative;
    overflow: hidden;

    .hero-heading {
      width: 40%;
      max-width: 480px;
      z-index: $z-index-mid;
      h1 {
        color: $orange;
        @include fontSize(h2);
        font-weight: 900;
        -webkit-text-stroke: $border-small $brown;
        display: none;
      }
      svg {
        width: 100%;
        height: fit-content;
        min-width: 240px;
      }

      .hero-socials {
        display: none;
        @include tablet() {
          height: $spacing-48;
          display: flex;
        }
      }

      @include tablet() {
        @include fontSize(h1);
      }
    }

    p {
      margin-bottom: $spacing-64 * 4;
      max-width: 30ch;
      @include fontSize(tiny);
      font-weight: 500;
      z-index: $z-index-mid;

      span {
        font-style: oblique;
        font-weight: 800;
      }

      @include tablet() {
        margin-bottom: 24vw;
        margin-left: $spacing-32;
        @include fontSize(tag);
      }
      @include desktop() {
        margin-bottom: 22vw;
        @include fontSize(p);
      }
      @include desktop-large() {
        margin-bottom: 19vw;
      }
    }

    .hero-img {
      position: absolute;
      width: 100%;
      max-width: 560px;
      left: -20%;
      top: 72px;
      opacity: 0.3;
      transform: scaleX(-1);

      @include tablet() {
        height: 100%;
        width: 60%;
        max-width: 720px;
        left: auto;
        right: -10%;
        top: 30px;
        transform: none;
      }

      @include desktop() {
        height: 120%;
        max-width: 760px;
        top: -30px;
      }
    }
  }
}
